body{
    background-color: #E1DCD9;
}


.navbar12345{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    display: inline-flex;
    position: absolute;
    left: 100px;
    height: 550px;
    width: 400px;
}
.image{
    text-align: center;
    border: 3px solid #8F8681;
    border-radius: 3%;
    margin: 30px;
    align-items: center;
}
.text{
    font-family: 'Sofia Sans Condensed', sans-serif;
    
}
.navbar-brand{
   color:  #A67F78;
   font-family: 'Lobster', cursive;
}
.nav-item{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 22px;
}
.hello{
  display: inline-flex;
  position: absolute;
  top: 120px;
  right: 150px;
  height: 400px;
  width: 550px;
  
}
.hellotext{
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
}
  




.container1{
    
    display: inline-block;
    padding-left: 50px;
    padding-top: 60px;
    text-align: center;

}

.imgDS{
    height: 200px;
    width: 250px;
}
.pDS{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
}

.motivation{
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#name{
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.subtitle{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}


body{
    background-color: #E1DCD9;
}

.navbar12345{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.navbar-brand{
color:  #A67F78;
font-family: 'Lobster', cursive;
}

.nav-item{
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 22px;
}

.cardcontainer{
display: inline-flex;
justify-content:left;
align-items: center;
position: absolute;
left:100px;
top:100px;
}

.cardcontainer2{
display: inline-flex;
justify-content: right;
align-items: center;
position: absolute;
right: 500px;  
top:100px;
}

.cardcontainer3{
display: inline-flex;
justify-content: right;
align-items: center;
position:absolute;
right:100px;
top:100px;
}
.card-body{
height: 400px;
}
.card-title{
text-align: center;
font-size: 40px;
}
.card-subtitle{
text-align: center;
font-size: 30px;
}
.card-text{
text-align: center;
font-size: 30px;
padding: 20px; 
} 



.cardcontainerExp{
    display: inline-flex;
    justify-content:left;
    align-items: center;
    height: 500px;
    padding: 100px;
    padding-left: 250px;
}

.cardcontainer2Exp{
  display: inline-flex;
  justify-content: right;
  align-items: center;
    height: 500px;
    padding: 100px;

}
.card-bodyExp{
    height: 400px;
}
.card-titleExp{
    text-align: center;
    font-size: 40px;
}
.card-subtitleExp{
    text-align: center;
    font-size: 20px;
}
.card-textExp{
    text-align: center;
    font-size: 30px;
    padding: 20px; 
} 



.container1LS{
    display: inline-flex;
    padding-top: 25px;
    padding-left: 60px;
    
}
.container2LS{
    display: inline-flex;
    padding: 6px;
    padding-left: 60px;
}
.imgLS{
    height: 100px;
    width: 200px;
}
.pLS{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    padding-left: 190px;
}